body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  padding-bottom: 60px;
}

/**
 *
 */
.user-list .checked {
  background-color: #eef;
}
.user-list .checked .name {
  font-weight: bold;
}
.user-entry {
  width: 100%;
  height: 40px;
  border-bottom: 1px dotted gray;
  cursor: pointer;
}
.user-entry img {
  width: 40px;
  height: 40px;
}

/**
 *
 */
.user-icons {
  margin: 5px auto;
  max-width: 920px;
}
.user-icon {
  float: left;
  border-radius: 5px;
  margin: 2px;
  width: 75px;
  height: 75px;
  border: 2px solid white;
}
.user-icons .selected {
  border: 2px solid rgba(0, 0, 255, 0.5);
  box-shadow: 0 0 4px rgba(0, 0, 255, 0.5);
}
.user-icon img {
  width: 75px;
  height: 75px;
  border-radius: 5px;
}
#focused-user-win {
  display: none;
  margin-left: -180px;
  margin-top: -230px;
  position: absolute;
  z-index: 9999;
  width: 360px;
  height: 460px;
  top: 50%;
  left: 50%;
  background-color: white;
  text-align: center;
  border-radius: 12px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
#focused-user-win .image img {
  margin: 20px 20px 5px;
  width: 320px;
  height: 320px;
  border-radius: 6px;
}
#focused-user-win .name {
  height: 40px;
  line-height: 40px;
  font-size: 32px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#focused-user-win .buttons {
  padding: 8px;
}

#main-ctrl {
  display: none;
  text-align: center;
}

/**
 * Top
 */
.phase-top #users {
  display: none;
}

/**
 * Waiting to start the roulette
 */
.phase-waiting #main-ctrl {
  display: block;
}

/**
 * Spinning roulette
 */
.phase-spinning .user-icon img,
.phase-stopping .user-icon img {
  opacity: 0.5;
}
.phase-spinning .user-icons .selected img,
.phase-stopping .user-icons .selected img {
  opacity: 1;
}
.phase-spinning #okBtn {
  display: none;
}
.phase-spinning #focused-user-win {
  display: block;
}
.phase-spinning #okBtn {
  display: none;
}
/**
 * Stopping roulette
 */
.phase-stopping #main-ctrl {
  display: none;
}
.phase-stopping #focused-user-win {
  display: block;
}
.phase-stopping #okBtn,
.phase-stopping #stopBtn {
  display: none;
}

/**
 * Finished spinning
 */
.phase-finished #focused-user-win {
  display: block;
  background-color: #faa;
  -webkit-animation: flicker 1s linear 5;
  animation: flicker 1s linear 5;
}
.phase-finished #stopBtn {
  display: none;
}

@-webkit-keyframes flicker {
  0% { background-color: #faa; }
  50% { background-color: #faa; }
  60% { background-color: #fff; }
  100% { background-color: #fff; }
}
@keyframes flicker {
  0% { background-color: #faa; }
  50% { background-color: #faa; }
  60% { background-color: #fff; }
  100% { background-color: #fff; }
}