body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  padding-bottom: 60px;
  -webkit-user-select: none;
}
/**
 *
 */
#global-menu {
  display: none;
}

/**
 *
 */
#top-message {
  display: none;
}
#top-message .image {
  float: left;
  width: 450px;
}
#top-message .text {
  margin-left: 500px;
}

/**
 *
 */
#socials .btn {
  margin: 5px;
  padding: 0;
  width: 134px;
  height: 134px;
  line-height: 230px;
  background-image: url(../image/empty.jpg);
  background-repeat: no-repeat;
  background-position: center 12px;
  background-size: 90px 90px;
}

/**
 *
 */
.loader {
  display: none;
}

/**
 *
 */
.user-list {
  .checked {
    background-color: #eef;
    .name {
      font-weight: bold;
    }
  }
  .user-entry {
    width: 100%;
    height: 40px;
    border-bottom: 1px dotted gray;
    cursor: pointer;
    img {
      width: 40px;
      height: 40px;
    }
  }
}

/**
 *
 */
.user-icons {
  margin: 5px auto;
  max-width: 920px;
  .user-icon {
    float: left;
    border-radius: 4px;
    margin: 1px;
    width: 74px;
    height: 74px;
    border: 2px solid white;
    cursor: pointer;
    &.selected {
      border: 2px solid rgba(0, 0, 255, 0.5);
      box-shadow: 0 0 4px rgba(0, 0, 255, 0.5);
    }
    img {
      width: 74px;
      height: 74px;
      border-radius: 4px;
    }
  }
}

#nomination-win {
  display: none;
  margin-left: -180px;
  margin-top: -230px;
  position: absolute;
  z-index: 9999;
  width: 360px;
  height: 460px;
  top: 50%;
  left: 50%;
  background-color: white;
  text-align: center;
  border-radius: 12px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  .image img {
    margin: 20px 20px 5px;
    width: 320px;
    height: 320px;
    border-radius: 6px;
  }
  .name {
    height: 40px;
    line-height: 40px;
    font-size: 32px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .buttons {
    padding: 8px;
  }
}

#user-detail-dialog .image {
  margin: 15px auto;
  border-radius: 6px;
  width: 250px;
  height: 250px;
}

#main-ctrl {
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: none;
  text-align: center;
}

/**
 * Top
 */
.phase-top {
  #menu-collapse-btn {
    display: none;
  }
  #top-message {
    display: block;
  }
  #users {
    display: none;
  }
}

/**
 * Waiting to start the roulette
 */
.phase-waiting {
  #global-menu, #main-ctrl {
    display: block;
  }
}

/**
 * Spinning roulette
 */
.phase-spinning, .phase-stop-waiting, .phase-stopping {
  .user-icon {
    img {
      opacity: 0.5;
    }
    .selected {
      img {
        opacity: 1;
      }
    }
  }
}

.phase-spinning {
  #main-ctrl {
    display: none;
  }
  #nomination-win {
    display: block;
  }
  #ok-btn, #stop-btn {
    display: none;
  }
}

.phase-stop-waiting {
  #main-ctrl {
    display: none;
  }
  #nomination-win {
    display: block;
  }
  #ok-btn {
    display: none;
  }
}

/**
 * Stopping roulette
 */
.phase-stopping {
  #main-ctrl {
    display: none;
  }
  #nomination-win {
    display: block;
  }
  #ok-btn, #stop-btn {
    display: none;
  }
}

/**
 * Finished spinning
 */
.phase-finished {
  #main-ctrl {
    display: none;
  }
  #nomination-win {
    display: block;
    background-color: #faa;
    -webkit-animation: flicker 1s linear 5;
    animation: flicker 1s linear 5;
  }
  #stop-btn {
    display: none;
  }
}

@-webkit-keyframes flicker {
  0% { background-color: #faa; }
  50% { background-color: #faa; }
  60% { background-color: #fff; }
  100% { background-color: #fff; }
}
@keyframes flicker {
  0% { background-color: #faa; }
  50% { background-color: #faa; }
  60% { background-color: #fff; }
  100% { background-color: #fff; }
}


/**
 * Responsive Stylesheet
 */
@media (max-width: 767px) {
  .navbar-fixed-top {
    margin-bottom: 0 !important;
  }
  body > .container {
    margin-right: -20px !important;
    margin-left: -20px !important;
  }
  #top-message {
    .hero-unit {
      padding: 20px;
      .image {
        float: none;
        margin: 0 auto;
        width: 225px;
        img {
          width: 225px;
        }
      }
      .text {
        margin-left: 0px;
        text-align: center;
        p {
          margin: 25px 0;
        }
      }
    }
  }
  #nomination-win {
    margin-left: 0px;
    margin-top: 0px;
    position: static;
    width: auto;
    height: auto;
    border-radius: 0;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    .image img {
      margin: 20px auto 5px auto;
      width: 250px;
      height: 250px;
      border-radius: 6px;
    }
    .name {
      height: 32px;
      line-height: 32px;
      font-size: 24px;
      font-weight: bold;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .buttons {
      width: 100%;
      padding-top: 12px;
      height: 42px;
      padding-bottom: 40px;
    }
  }
  .modal {
    position: relative;
    height: auto;
    &.fade {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      &.in {
        top: 0 !important;
      }
    }
    #member-list {
      margin-bottom: 50px;
    }
    .modal-footer {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  #top-message {
    .hero-unit {
      .image {
        margin: 0 auto;
        width: 325px;
        img {
          width: 325px;
        }
      }
      .text {
        margin-left: 360px;
      }
    }
  }

}
@media (min-width: 980px) {

}